<script>
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section
    class="solution-casestudies"
    :class="{ 'solution-casestudies__charcoal-bg': data.charcoal_bg }"
  >
    <SlpContainer>
      <SlpRow class="row">
        <SlpColumn class="column">
          <SlpRow
            class="column__row"
            :data-aos="
              data.header_animation ? data.header_animation : 'fade-up'
            "
            :data-aos-duration="
              data.header_animation_duration
                ? data.header_animation_duration
                : 500
            "
          >
            <SlpColumn :cols="8">
              <SlpTypography tag="h2" variant="heading3" class="title"
                >{{ data.title }}
              </SlpTypography>
            </SlpColumn>
          </SlpRow>
          <SlpRow
            v-for="row in data.rows"
            :key="row.subtitle + Math.random()"
            class="column__row--articles slp-flex"
            :data-aos="data.row_animation ? data.row_animation : 'fade-right'"
            :data-aos-duration="
              data.row_animation_duration ? data.row_animation_duration : 800
            "
          >
            <SlpColumn :cols="8" size="lg" class="slp-col-md-6 article-wrapper">
              <SlpColumn
                :cols="7"
                size="lg"
                class="solution-casestudies__content slp-mr-32"
              >
                <SlpIcon
                  class="slp-mb-16"
                  :name="row.icon.name"
                  :variant="'marketing'"
                />
                <SlpTypography
                  tag="h3"
                  variant="heading5-bold"
                  class="slp-mb-24"
                >
                  {{ row.title }}
                </SlpTypography>
                <SlpTypography tag="h4" variant="heading5">
                  {{ row.subtitle }}
                </SlpTypography>
              </SlpColumn>
            </SlpColumn>

            <SlpColumn class="second-col">
              <a
                class="solutions-link-card"
                :href="row.button.href"
                :data-ga-name="row.button.data_ga_name"
                :data-ga-location="row.button.data_ga_location"
              >
                <img
                  class="second-col__image"
                  :src="row.image.url"
                  :alt="row.image.alt ? row.image.alt : ''"
                  loading="lazy"
                />
                <div class="solution-casestudies__link">
                  {{ row.button.text }}
                  <SlpIcon
                    class="slp-ml-8"
                    name="chevron-lg-right"
                    variant="product"
                    alt="Chevron Right Icon"
                  />
                </div>
              </a>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
      <SlpColumn />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.solution-casestudies {
  padding: $spacing-96 $spacing-16;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-48 0;
  }

  &__charcoal-bg {
    background-color: $color-surface-800;
  }
  .title {
    margin-bottom: 16px;
  }

  .row {
    .column {
      margin: 0 auto;

      &__row {
        width: 100%;
        margin-bottom: 84px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 32px;
        }
        &--articles {
          border-top: 1px solid #a2a1a6;
          padding: $spacing-48 0;
          .article-wrapper {
            flex-basis: 100%;
            @media (min-width: $breakpoint-md) {
              flex-basis: 60%;
            }
          }
          &:last-of-type {
            border-bottom: 1px solid #a2a1a6;
          }

          .second-col {
            height: 263px;
            padding: $spacing-24 0;
            overflow: hidden;
            position: relative;
            z-index: 2;

            @media (max-width: $breakpoint-md) {
              padding-bottom: 0;
              &:hover {
                &::after {
                  background-color: unset;
                }

                &__image {
                  border-bottom-right-radius: 0;
                }
              }
            }

            &::after {
              @media (min-width: $breakpoint-md) {
                content: '';
                height: 100%;
                left: $spacing-32;
                position: absolute;
                top: 0;
                width: 100%;
                pointer-events: none;
                transition: background-color 0.3s ease-in-out;
                z-index: 0;
              }
            }

            .second-col__image {
              border-radius: $spacing-4;
              transition: border-bottom-right-radius 0.3s ease-in-out;
              z-index: 1;
            }

            &:hover {
              &::after {
                @media (min-width: $breakpoint-md) {
                  background-color: $color-surface-900;
                }
              }

              .second-col__image {
                border-bottom-right-radius: 100px;
              }
            }
          }
        }

        h2 {
          font-size: $text-heading-2;
          line-height: $line-height-heading-2;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .solutions-link-card {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    color: #171321 !important;

    :deep {
      color: #171321 !important;

      a {
        color: #171321 !important;
      }
    }

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: center;
    }

    .second-col__image {
      width: 196px;
      height: 215px;
      object-fit: cover;

      @media (max-width: $breakpoint-md) {
        width: 90vw;
        max-height: 199px;
        height: auto;
      }
    }

    a {
      @media (max-width: $breakpoint-md) {
        padding-left: 0;
        margin-top: $spacing-16;
      }
    }
  }

  &__link {
    padding: 0 $spacing-16 0 $spacing-32;
    font-weight: $font-weight-bold;
    z-index: 100;
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
  }

  .bold {
    font-weight: $font-weight-bold;
  }

  &__content {
    .slp-icon {
      width: 24px !important;
      height: 24px !important;
    }

    @media (max-width: $breakpoint-md) {
      margin: 0 0 $spacing-32 0;
    }
  }
}
</style>
