<script lang="ts">
import Vue from 'vue';
import { MrktoForm } from '../common/index.vue';

export default Vue.extend({
  name: 'PreferencesForm',
  components: { MrktoForm },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section class="preferences-forms">
    <SlpContainer>
      <SlpRow class="preferences-forms__row">
        <SlpColumn
          :cols="6"
          class="preferences-forms__form-column slp-md-64"
          data-aos="fade-up"
          data-aos-duration="750"
        >
          <MrktoForm :data="data" />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.preferences-forms {
  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  &__card {
    padding: $spacing-32;
    background: $color-surface-800;
    border-radius: 16px;
  }

  &__card_link {
    padding-left: 0;
  }
}
</style>
<style lang="scss">
#LblCountry {
  margin-top: $spacing-8 !important;
}

.mktoForm .mktoGutter,
.mktoOffset,
.mktoAsterix {
  display: none !important;
}

.mktoFormRow > .mktoFieldWrap > * {
  max-height: 48px !important;

  @media (max-width: $breakpoint-lg) {
    max-height: 58px !important;
  }
}

.mktoCheckboxList {
  margin-bottom: 0 !important;
  max-height: 48px !important;

  @media (max-width: $breakpoint-lg) {
    max-height: 58px !important;
  }
  input[type='checkbox'] {
    min-width: 30px !important;
  }
}

#LblmktoCheckbox_59618_0 {
  margin-bottom: $spacing-16 !important;
}

#LblmktoCheckbox_59622_0 {
  margin-top: $spacing-16 !important;
  margin-bottom: $spacing-16 !important;
}

#LblmktoCheckbox_59619_0 {
  margin-top: $spacing-24 !important;
  margin-bottom: $spacing-24 !important;
}

.mktoFieldDescriptor {
  margin-bottom: 0 !important;
}

.mktoHtmlText {
  margin-top: $spacing-24 !important;
}

.mktoRadioList > * {
  width: 100% !important;
}

@media (max-width: $breakpoint-lg) {
  .mktoForm_container {
    padding: $spacing-8 $spacing-16;
  }
}
</style>
