<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface Highlight {
  image: {
    src: string;
    alt?: string;
  };
  text: string;
}
export default Vue.extend({
  props: {
    header: {
      type: String,
      required: false,
      default: '',
    },
    highlights: {
      type: Array as PropType<Highlight[]>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div id="esg-highlights">
      <SlpTypography variant="heading2-bold" tag="h2">{{
        header
      }}</SlpTypography>
      <div class="highlight-container">
        <div
          v-for="highlight in highlights"
          :key="highlight.text"
          class="highlight"
        >
          <img :src="highlight.image.src" :alt="highlight.image.alt" />
          <SlpTypography variant="body1"
            ><div v-html="$md.render(highlight.text)"></div
          ></SlpTypography>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
#esg-highlights {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 96px;
  .highlight-container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: scroll;
    gap: 30px;
    @media (min-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .highlight {
      border-radius: 4px;
      background: $color-surface-800;
      display: flex;
      padding: 32px;
      gap: 24px;
      min-height: 232px;
      flex-direction: column;
      min-width: 400px;
      img {
        @media (max-width: $breakpoint-lg) {
          object-fit: scale-down;
          height: 160px;
          width: 135px;
        }
      }
      @media (max-width: $breakpoint-sm) {
        min-width: 300px;
      }
      @media (min-width: $breakpoint-lg) {
        min-width: unset;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}
</style>
