<script>
export default {
  name: 'NonprofitOverview',
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
};
</script>

<template>
  <SlpContainer>
    <SlpRow class="overview-container">
      <div class="card-container">
        <SlpCard200
          v-for="block in data.blocks"
          :key="block.title"
          class="block"
        >
          <SlpTypography variant="heading4-bold" tag="h4" class="slp-mb-24">{{
            block.title
          }}</SlpTypography>
          <div
            v-for="(offer, index) in block.offers"
            :key="`${offer.title}-${index}`"
          >
            <SlpTypography
              v-if="offer.title"
              variant="body1-bold"
              tag="p"
              class="slp-mb-32"
              >{{ offer.title }}</SlpTypography
            >
            <div
              v-for="item in offer.list"
              :key="item"
              class="slp-flex slp-pl-16 slp-pb-32 list-item"
            >
              <SlpIcon
                name="check"
                class="slp-mr-8 block-icon"
                variant="product"
                alt="Check icon"
                size="sm"
              />
              <SlpTypography
                class="slp-pl-8"
                tag="div"
                variant="body1"
                v-html="$md.render(item)"
              >
              </SlpTypography>
            </div>
            <div class="footnote">
              <SlpTypography
                v-if="data.footnote"
                variant="body2"
                tag="p"
                class="slp-mt-16"
                >{{ data.footnote }}</SlpTypography
              >
            </div>
          </div>
        </SlpCard200>
        <SlpCard200 class="additional-information block" background>
          <SlpIcon
            name="bulb"
            class="slp-mr-8 icon"
            variant="marketing"
            alt="Bulb icon"
            size="md"
          />
          <SlpTypography variant="heading5-bold" tag="h5" class="title">
            {{ data.information.title }}</SlpTypography
          >
          <div
            v-for="item in data.information.text"
            :key="item"
            class="slp-flex slp-pb-32"
            style="align-items: center"
          >
            <SlpButton
              v-if="data.information.link"
              variant="ghost"
              :href="data.information.link.url"
            >
              <SlpTypography
                tag="div"
                class="button-text"
                variant="body1-bold"
                v-html="$md.render(item)"
              >
              </SlpTypography>
              <SlpIcon
                name="arrow-down"
                class="slp-ml-8 icon"
                variant="product"
                alt="arrow down icon"
                size="sm"
              />
            </SlpButton>
          </div>
        </SlpCard200>
      </div>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.card-container {
  display: grid;
  grid-template-columns: 1f;
  gap: $spacing-32;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }
}
.additional-information {
  border: 1px solid #e8e7eb;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    min-width: 30%;
    margin-right: $spacing-32;
    margin-bottom: $spacing-32;
    margin-top: $spacing-16;
  }
  .button-text {
    color: $color-text-300;
  }
  .icon {
    color: $color-text-300;
  }
}
.block {
  height: 100%;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #e8e7eb;
  &:hover {
    cursor: auto;
    box-shadow: none;
  }
  @media (max-width: $breakpoint-lg) {
    padding: $spacing-16;
  }

  .icon {
    align-self: flex-start;
  }
}
</style>
