<script lang="ts">
import Vue from 'vue';

interface Sections {
  header: String;
  text: String;
}
interface Content {
  header: String;
  text: String;
  sections: Sections[];
}

export default Vue.extend({
  name: 'FeaturedSpeaker',
  props: {
    data: {
      type: Array,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      content: {} as Content,
    };
  },
  created() {
    this.content = this.parsedData();
  },
  methods: {
    parsedData() {
      const rawdata = Array.from(this.data);
      const { header, text } = rawdata.shift() as any;
      return {
        header,
        text,
        sections: [...rawdata],
      };
    },
  },
});
</script>

<template>
  <div class="featured-content">
    <SlpContainer>
      <SlpRow>
        <SlpTypography class="slp-pb-16" tag="h1" variant="heading2-bold">{{
          content.header
        }}</SlpTypography>

        <div
          v-if="content.text"
          class="slp-pb-16 featured-content__text"
          v-html="$md.render(content.text)"
        ></div>
      </SlpRow>
      <div class="slp-pt-32 slp-flex featured-content__sections">
        <div
          v-for="(section, index) in content.sections"
          :key="index"
          class="featured-content__section"
        >
          <SlpTypography tag="h1" variant="heading5-bold">{{
            section.header
          }}</SlpTypography>

          <div v-if="section.text" v-html="$md.render(section.text)"></div>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.featured-content {
  padding: $spacing-96 0;
  background: linear-gradient(
    165.41deg,
    #fadcd7 0%,
    #f8f5ff 23.65%,
    #ffffff 54.66%,
    #f6f3fe 80.95%,
    #ffd4d8 100.92%
  );

  &__sections {
    gap: $spacing-32;
    flex-direction: row;
    align-items: flex-start;

    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__section {
    padding: $spacing-32 + $spacing-8;
    background: $color-surface-50;
    border-radius: $border-radius-4;

    &:nth-child(even) {
      border-bottom-right-radius: $border-radius-pill;
    }

    :deep ul {
      list-style-image: url('/nuxt-images/icons/events/lightning.svg');
      li {
        // display: flex;
        padding-top: 24px;
        margin-left: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    :deep {
      p {
        padding-bottom: 8px;
      }
    }
  }
}
</style>
