<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <SlpColumn :cols="data.column_size || 12">
    <div class="emphasis">
      <SlpTypography variant="heading5" tag="p"
        ><span class="highlight">{{ `${data.highlight} ` }}</span
        >{{ data.text }}</SlpTypography
      >
    </div>
  </SlpColumn>
</template>

<style lang="scss" scoped>
.emphasis {
  padding: $spacing-48;
  background: $color-surface-800;
  border-radius: $border-radius-24;
  margin-top: $spacing-16;
  .highlight {
    font-weight: 600;
  }
}
</style>
