<script>
import { HorizontalScrollBar } from '@/components/common/index.vue';

export default {
  name: 'CategoriesTable',
  description:
    'This "Bring-Your-Own-Styles" component takes in the categories object as a Table prop and renders the items in a table sorted by maturity.',
  components: {
    HorizontalScrollBar,
  },
  props: {
    table: {
      type: Object,
      required: true,
      default: null,
    },
    hasIcons: {
      type: Boolean,
      required: false,
      default: false,
    },
    showScrollbar: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      progress: 0,
      formattedTable: {
        plan: [],
        create: [],
        verify: [],
        package: [],
        secure: [],
        deploy: [],
        monitor: [],
        govern: [],
      },
    };
  },
  beforeMount() {
    this.formattedTable = {
      plan: [...this.table.plan].sort(this.sortByMaturity),
      create: [...this.table.create].sort(this.sortByMaturity),
      verify: [...this.table.verify].sort(this.sortByMaturity),
      package: [...this.table.package].sort(this.sortByMaturity),
      secure: [...this.table.secure].sort(this.sortByMaturity),
      deploy: [...this.table.deploy].sort(this.sortByMaturity),
      monitor: [...this.table.monitor].sort(this.sortByMaturity),
      govern: [...this.table.govern].sort(this.sortByMaturity),
    };
  },
  mounted() {
    const { featureTable } = this.$refs;
    featureTable.addEventListener(
      'scroll',
      // eslint-disable-next-line func-names
      function (e) {
        const { clientWidth } = e.target;
        const { scrollLeft } = e.target;
        const { scrollWidth } = e.target;

        const scrollPercent = scrollLeft / (scrollWidth - clientWidth);
        const scrollPercentRounded = Math.round(scrollPercent * 100);
        this.progress = scrollPercentRounded;
      }.bind(this),
    );
  },
  methods: {
    sortByMaturity(a, b) {
      if (
        a.maturity === 'complete' ||
        a.maturity === 'viable' ||
        a.maturity === 'lovable'
      ) {
        return -1;
      }

      if (
        b.maturity === 'complete' ||
        b.maturity === 'viable' ||
        b.maturity === 'lovable'
      ) {
        return 1;
      }

      if (a.maturity === 'planned') {
        return 1;
      }

      if (b.maturity === 'planned') {
        return -1;
      }

      return 0;
    },
    maturity(maturityLevel) {
      switch (maturityLevel) {
        case 'complete':
          return 'mature';
        case 'viable':
          return 'mature';
        case 'lovable':
          return 'mature';
        case 'minimal':
          return 'early';
        case 'planned':
          return 'planned';
        default:
          return 'default';
      }
    },
    link(maturityLevel, marketing, documentation, direction) {
      if (maturityLevel !== 'planned') {
        return marketing || documentation;
      }
      return documentation || direction;
    },
    icon(stage) {
      if (stage === 'govern') {
        return 'protect-light';
      }
      if (stage === 'deploy') {
        return 'release-light';
      }
      return `${stage}-light`;
    },
  },
};
</script>

<template>
  <SlpContainer>
    <div ref="featureTable" class="table">
      <div v-for="category in table" :key="category[0].stage" class="column">
        <div class="sub-column-wrapper">
          <div class="sub-column">
            <div
              :class="`stage-name ${
                category[0].stage == 'govern' ? 'last' : ''
              }`"
            >
              <SlpIcon
                v-if="hasIcons"
                class="slp-mb-8"
                :name="icon(category[0].stage)"
                variant="marketing"
                alt=""
                aria-hidden="true"
                size="md"
                slp-color="primary-200"
              />
              <a
                v-if="category[0].stage != 'deploy'"
                :href="`https://about.gitlab.com/direction/${category[0].stage.toLowerCase()}/`"
                :data-ga-name="`${category[0].stage} direction page`"
                data-ga-location="features table"
              >
                {{ category[0].stage }}
              </a>
              <span v-else>
                {{ category[0].stage }}
              </span>
            </div>
            <div class="features">
              <span
                v-for="feature in formattedTable[category[0].stage]"
                :key="feature.name"
                :aria-describedby="`${maturity(feature.maturity)}-feature`"
              >
                <a
                  v-if="
                    feature.maturity ||
                    feature.marketing_page ||
                    feature.documentation ||
                    feature.direction
                  "
                  :href="
                    link(
                      feature.maturity,
                      feature.marketing_page,
                      feature.documentation,
                      feature.direction,
                    )
                  "
                  :data-ga-name="feature.name"
                  data-ga-location="feature table"
                  :class="maturity(feature.maturity)"
                >
                  {{ feature.name }}
                </a>
                <SlpTypography
                  v-else
                  tag="p"
                  :class="maturity(feature.maturity)"
                  variant="body3-bold"
                >
                  {{ feature.name }}
                </SlpTypography>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <HorizontalScrollBar
      v-if="showScrollbar"
      class="horizontal-scroll"
      :value="progress"
    />
  </SlpContainer>
</template>

<style lang="scss" scoped>
::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.table {
  @media (max-width: $breakpoint-lg) {
    overflow-x: auto;
  }

  .stage-name {
    text-transform: capitalize;
    display: block;
    position: relative;

    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &,
  .column {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .sub-column-wrapper {
    display: flex;
  }

  .features a,
  .features p {
    display: block;
  }

  .features a:hover {
    text-decoration: underline;
  }
}
</style>
