<script>
export default {
  props: {
    steps: {
      type: Array,
      required: true,
      default: null,
    },
    active: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  computed: {
    numberOfSteps() {
      return this.steps.length;
    },
  },
};
</script>

<template>
  <ul class="step-progress-bar">
    <li
      v-for="(step, index) in steps"
      :key="step"
      :class="`stepper__item ${active == index ? 'active' : ''} ${
        index < active ? 'completed' : ''
      }`"
      :aria-label="
        index < active
          ? `Switch to completed step ${index + 1}`
          : `Calculator step ${index + 1} - disabled`
      "
      @click="$emit('changeStep', index, index < active)"
    >
      <div
        class="stepper__item--count"
        :style="index < active && 'cursor: pointer'"
        :tabindex="index < active ? '0' : '-1'"
        @keyup.enter="$emit('changeStep', index, index < active)"
      >
        <!--  eslint-disable-next-line -->
        <SlpIcon
          v-if="index < active"
          icon="gl-check"
          size="md"
          hex-color="#fff"
        />
        <span v-else>
          {{ index + 1 }}
        </span>
      </div>
      <label
        :style="index < active && 'cursor: pointer'"
        class="stepper__item--name"
        >{{ step }}</label
      >
    </li>
  </ul>
</template>

<style lang="scss" scoped>
.step-progress-bar {
  display: flex;
  flex-direction: row;
}

.stepper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  &:first-child::before {
    content: none;
  }

  &::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid $color-surface-300;
    width: 70%;
    top: 20px;
    left: 65%;
    z-index: 2;

    @media (max-width: $breakpoint-md) {
      width: 50%;
      left: 75%;
    }
  }

  &:last-child::after {
    content: none;
  }

  &.completed .stepper__item--count {
    background: $color-accent-500;
    border: 1px solid $color-accent-500;
  }

  &.completed .stepper__item--name {
    font-weight: $font-weight-bold;
    color: $color-text-300;
  }

  &.completed::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid $color-accent-500;
    width: 70%;
    top: 20px;
    left: 65%;
    z-index: 3;

    @media (max-width: $breakpoint-md) {
      width: 50%;
      left: 75%;
    }
  }

  .slp-icon {
    color: $color-surface-50 !important;
  }

  &--count {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $color-surface-300;
    font-weight: $font-weight-bold;
    font-size: $text-heading-5;
    line-height: $line-height-heading-5;
    background: $color-surface-50;
    color: $color-text-link-100;
    margin-bottom: $spacing-8;
  }

  &--name {
    color: $color-text-200;
    font-size: $text-body-3;
  }
}
</style>
