<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'GartnerBanner',

  props: {
    currentLocale: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      content: null,
    };
  },

  async fetch() {
    const content = (await this.$content(
      this.currentLocale
        ? `${this.currentLocale}/gartner-banner`
        : `/gartner-banner`,
    ).fetch()) as any;
    this.content = content;
  },
});
</script>
<i18n src="../../content/gartner-banner.yml" lang="yaml"></i18n>
<template>
  <div class="banner">
    <nuxt-img
      preload
      class="slp-ml-24 banner_image"
      src="/nuxt-images/logos/gartner-logo-white.svg"
      alt=""
    />
    <SlpTypography class="slp-ml-24 banner_title" variant="body2-bold"
      >{{ content.title }}
    </SlpTypography>
    <SlpButton href="/gartner-magic-quadrant/" variant="tertiary" class="cta"
      >{{ content.cta }}
      <SlpIcon class="slp-ml-8 arrow-icon" variant="product" name="arrow-right"
    /></SlpButton>
  </div>
</template>

<style lang="scss" scoped>
.banner {
  background-color: $color-surface-700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: 835px) {
    height: 52px;
  }
  .cta {
    color: white;
    text-decoration: underline;
    margin-left: 24px;
    font-weight: 400;
    .arrow-icon {
      @media (max-width: 835px) {
        display: none;
      }
    }
    @media (max-width: 835px) {
      color: #7759c2;
      padding: 0;
      margin-left: 0;
    }
  }
  &_title {
    color: $color-text-50;
  }

  @media (max-width: 945px) {
    &_image {
      display: none;
    }
  }

  @media (max-width: 835px) {
    background-color: $color-surface-900;
    flex-direction: column;
    align-items: initial;
    padding: $spacing-16;

    &_title {
      color: $color-text-300;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
</style>
