<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
});
</script>

<template>
  <div style="background: #f6f3fe">
    <SlpContainer class="feature-benefit__wrapper">
      <SlpRow class="slp-pt-48 slp-pt-md-160">
        <SlpColumn>
          <SlpTypography
            class="slp-pb-64"
            tag="h2"
            variant="heading2-bold"
            data-aos="fade-up"
            data-aos-duration="800"
          >
            {{ data.feature_heading }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
      <SlpRow class="slp-pb-160">
        <SlpColumn class="feature-benefit__content">
          <div
            v-for="(card, index) in data.feature_cards"
            :key="card.feature_name"
            style="background: white; padding: 32px"
            data-aos="fade-right"
            :data-aos-duration="index * 800"
          >
            <div class="slp-flex">
              <SlpIcon
                v-if="card.icon"
                class="slp-mr-16 slp-mb-24"
                :name="card.icon.name"
                :variant="card.icon.variant"
                :alt="card.icon.alt"
                size="md"
              />
            </div>
            <SlpTypography class="slp-pb-16" tag="h3" variant="heading4-bold">
              {{ card.feature_name }}
            </SlpTypography>
            <SlpTypography class="slp-pb-24" tag="p" variant="body2">
              {{ card.feature_description }}
            </SlpTypography>
            <div
              v-for="item in card.feature_list"
              :key="item"
              class="slp-flex slp-pl-16 slp-pb-16"
            >
              <SlpIcon
                name="check"
                class="slp-mr-8"
                variant="product"
                alt="Check icon"
                size="sm"
              />
              <SlpTypography class="slp-pl-16" tag="p" variant="body2">
                {{ item }}
              </SlpTypography>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.feature-benefit {
  &__wrapper {
    position: relative;
    background: $color-surface-800;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background-color: $color-surface-800;
      height: 100%;
      z-index: -1;

      left: -100vw;
      width: 200vw;
    }
  }
  &__content {
    display: grid;
    grid-gap: 2rem;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
</style>
