<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import {
  CityHero,
  ConductBanner,
  Agenda,
  Form,
  Sponsor,
} from '~/components/events/world-tour/index.vue';
import { NextStep } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CityHero,
    ConductBanner,
    NextStep,
    Agenda,
    Form,
    Sponsor,
  },
  nuxtI18n: false,
  async asyncData({ $content, params, error }: any) {
    try {
      const city = await $content(
        `events/devsecops-world-tour/${params.city}`,
      ).fetch();
      return { city };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return {
      ...getPageMetadata((this as any).city, this.$route.path),
    };
  },
});
</script>

<template>
  <div>
    <CityHero
      v-bind="city.hero"
      :registration-closed="city.registrationClosed"
    />
    <Agenda
      :time-zone="city.time_zone"
      :agenda="city.agenda"
      :city="city.hero.header"
      :registration-closed="city.registrationClosed"
      :additional-logo="city.additionalLogo"
      :blurb="city.blurb"
    />
    <EventsWorldTourFormMulti
      v-if="city.form && city.form.multi_step"
      v-bind="city.form"
      :registration-closed="city.registrationClosed"
    />
    <Form
      v-if="city.form && !city.form.multi_step"
      v-bind="city.form"
      :registration-closed="city.registrationClosed"
    />
    <Sponsor v-if="city.sponsors" :sponsors="city.sponsors" />
    <ConductBanner v-bind="city.conduct_banner" />
    <ConductBanner
      v-if="city.disclaimer"
      v-bind="city.disclaimer"
      style="padding-top: 0"
    />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
