<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconLightingTalk',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    layout: {
      type: String,
      required: false,
      default: 'spaced',
    },
  },
});
</script>

<template>
  <SlpContainer
    class="kubecon-lighting-talk"
    :class="`kubecon-lighting-talk--${layout}`"
  >
    <div class="kubecon-lighting-talk__content">
      <div class="kubecon-lighting-talk__header">
        <img src="/nuxt-images/icons/events/bulb-bolt-black.svg" />
        <SlpTypography variant="heading5-bold" tag="h3" class="slp-pl-8">
          {{ data.header }}
        </SlpTypography>
      </div>
      <div class="kubecon-lighting-talk__grid">
        <div
          v-if="data.text"
          class="information"
          v-html="$md.render(data.text)"
        ></div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.kubecon-lighting-talk {
  background: #f6f3fe;
  border-radius: 4px 4px 90px 4px;

  &__content {
    padding: $spacing-64 $spacing-96;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0;
      margin: $spacing-32 0;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: $spacing-48;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    :deep ul {
      @media screen and (min-width: $breakpoint-md) {
        // columns: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
      }
      list-style-image: url('/nuxt-images/icons/events/lightning.svg');
      li {
        padding-bottom: 24px;
        margin-left: 16px;
        @media screen and (min-width: $breakpoint-md) {
          flex: 0 0 calc(50% - 16px);
          align-self: flex-start;
          width: 50%;
        }
      }
    }
  }

  &--spaced {
    margin-bottom: $spacing-48;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: $spacing-96;
    }
  }
}
</style>
