<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TechnologyPartnersNextStep',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-mb-96">
    <SlpRow>
      <SlpColumn :cols="8">
        <SlpTypography
          class="slp-mb-16 slp-pr-72"
          variant="heading2-bold"
          tag="h2"
        >
          {{ data.title }}
        </SlpTypography>
        <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
          {{ data.subtitle }}
        </SlpTypography>
        <div v-if="data.primary || data.secondary">
          <SlpButton
            v-if="data.primary"
            class="slp-mr-24"
            :href="data.primary.href"
            :data-ga-name="data.primary.ga_name"
            :data-ga-location="data.primary.ga_location"
            :aria-label="`${data.primary.ga_location} ${data.primary.ga_name}`"
            variant="primary"
            >{{ data.primary.text }}</SlpButton
          >
          <SlpButton
            v-if="data.secondary"
            :href="data.secondary.href"
            :data-ga-name="data.secondary.ga_name"
            :data-ga-location="data.secondary.ga_location"
            :aria-label="`${data.secondary.ga_location} ${data.secondary.ga_name}`"
            variant="secondary"
          >
            {{ data.secondary.text }}
            <SlpIcon
              variant="product"
              class="slp-ml-8"
              name="chevron-lg-right"
            />
          </SlpButton>
        </div>
      </SlpColumn>
      <SlpColumn
        :cols="4"
        class="slp-flex slp-justify-content-center slp-align-items-center"
      >
        <nuxt-img :src="data.image.url" :alt="data.image.alt" loading="lazy" />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss"></style>
