<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'Blurb',
  props: {
    header: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    cta: {
      type: Object,
      required: true,
    },
    note: {
      type: String,
      required: false,
      default: '',
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow class="world-tour-blurb">
      <SlpTypography variant="heading4-bold" tag="h4" class="slp-pb-24">
        {{ header }}
      </SlpTypography>
      <SlpTypography
        variant="body1"
        tag="div"
        class="world-tour-blurb__text slp-py-24"
      >
        <span class="information" v-html="$md.render(text)"></span>
      </SlpTypography>
      <SlpButton :href="cta.url" variant="primary"> {{ cta.text }} </SlpButton>
      <p v-if="note" class="note slp-mt-32" v-html="$md.render(note)"></p>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.world-tour-blurb {
  margin-bottom: $spacing-96;

  &__text:deep(strong) {
    font-weight: 600;
  }

  .note {
    font-weight: $font-weight-bold;
  }
}
</style>
