<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="open-source-partners">
    <div class="open-source-partners__text">
      <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-16">
        {{ data.header }}
      </SlpTypography>
      <SlpTypography variant="body1" class="slp-mb-24" tag="p">{{
        data.description
      }}</SlpTypography>
      <SlpButton
        class="slp-pl-0 slp-mt-24 cta"
        :href="data.link"
        variant="tertiary"
        :data-ga-name="data?.ga_name"
        :data-ga-location="data?.ga_location"
      >
        <span class="slp-mr-8">Learn more</span>
        <SlpIcon
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
        />
      </SlpButton>
    </div>
    <div class="open-source-partners__partner_grid">
      <div
        v-for="partner in data.partners"
        :key="partner.alt"
        class="grid__icon"
      >
        <nuxt-img
          v-if="partner.logo"
          class="grid__icon__logo"
          :src="partner.logo"
          :alt="partner.alt"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.open-source-partners {
  display: flex;
  margin: $spacing-96 0;
  flex-direction: column;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
  &__text {
    .cta {
      padding-left: 0;
    }
  }
  &__partner_grid {
    min-width: 50%;
    display: grid;
    background: $color-surface-200;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $breakpoint-lg) {
      margin-top: $spacing-16;
      .grid__icon {
        padding: $spacing-8;
      }
    }
    .grid__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    }
  }
}
</style>
